/*This stylesheet is for all the project display*/

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


/*This is where the magic is. The process works by creating a div with a height and width of 100% of the window size. You then set that div's position to fixed so it's always in the right spot on loading. Give the div a background image of whatever you like*/

/*To scroll with the page, just set the position to absolute instead of fixed*/
#RABBOT { background:url('../Projects/RABBOT/RABBOT_L.jpg') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#DiveIntoDigital { background:url('../Projects/DiveIntoDigital/DiveIntoDigital_1.JPG') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#TheHats{ background:url('../Projects/TheHats/TheHats_L.jpg') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#UniverseConcert{ background:url('../Projects/UniverseConcert/UniverseConcert_L.JPG') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#Sleepers{ background:url('../Projects/Sleepers/Sleepers_L.JPG') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#MoonGaze{ background:url('../Projects/MoonGaze/MoonGaze_L.JPG') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#LovMeLovU{ background:url('../Projects/LovMeLovU/LovMeLovU_L.jpg') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#PollHuetion{ background:url('../Projects/PollHuetion/PollHuetion_L.JPG') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#Teleportation{ background:url('../Projects/Teleportation/Teleportation_L.jpg') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#EmoLace{ background:url('../Projects/EmoLace/EmoLace_L.jpg') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#Mai{ background:url('../Projects/Mai/Mai_L.jpg') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#MaidenPink{ background:url('../Projects/MaidenPink/MaidenPink_L.jpg') no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#full-image h1 {
  color: white;
  font-size: 6em;
  margin-top: 25%;
  text-align: center;
  text-shadow: 0 0 30px #000;
}

#full-image p {
  color: white;
  font-size: 2em;
  margin-top: 2%;
  text-align: center;
  text-shadow: 0 0 20px #000;
}

/*The content underneath the div is positioned absolutely and has a large top offset of 100% which hides it below the full image. */
#content {
	background: white;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 100%;
}

img.img_small {
  float: left;
  width: 30%;
  margin: 2%;
  margin-left: 10%;
}
img.img_medium {
  display:block;
  width: 50%;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
}
img.img_smallgif{
  position: relative;
  float: left;
  width:  auto;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin-left: 10%;
}
#content h1 {
  font-size: 4.5em;
  line-height: 2;
  text-align: left;
}
#content h3{
  text-align: left;
  line-height: 1.6;
  margin: 0 auto;
  padding: 10px;
}
#content h2,
#content p {
  clear: both;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}
ul{
  list-style-type:disc;  clear: both;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}

.footer {
  float: none;
  margin-left: 36%;
  text-align: center;
}
.caption{
  text-align: center;
}

/*------------scrolling animation------------*/
@-webkit-keyframes scroll-inner {
  0% {
    margin-top: 20%;
    opacity: 1;
  }
  90% {
    margin-top: 60%;
    opacity: 0;
  }
  100% {
    margin-top: 20%;
    opacity: 0;
  }
}
@keyframes scroll-inner {
  0% {
    margin-top: 20%;
    opacity: 1;
  }
  90% {
    margin-top: 60%;
    opacity: 0;
  }
  100% {
    margin-top: 20%;
    opacity: 0;
  }
}
.mouse-container {
  position: relative;
  display: block;
  height: 100px;
  top: 80%;
}

.mouse {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 50px;
  border: solid 2px #fff;
  border-radius: 20px;
  opacity: .4;
}
.mouse .scroll-down {
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  margin: 15% auto auto auto;
  -webkit-animation: scroll-inner 1.5s;
  animation: scroll-inner 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
/*************Close icon**************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 #closeicon{
  position:sticky;
  height: 100%;
  top:0px;
}
.outer {
  position:absolute;
  z-index:999;
  margin: auto;
  width: 70px;
  margin-top: 10px;
  right:0px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: .8em;
  line-height: 4em;
  text-transform: uppercase;
  color: black;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: black;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}
/***************Responsive video****************/
.video-wrapper {
    position: relative;
    padding-bottom: 74.25%; /* 4:3 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video-wrapper-narrow {
    padding-bottom: 40%;
}

iframe,object,embed,video,.videoWrapper,.video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-js, img.vjs-poster {
    width: 100% !important;
    height: 100% !important; //these need !important because IE
    max-width: 100%;
}
