/*This stylesheet is for all the project display*/

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/*This is where the magic is. The process works by creating a div with a height and width of 100% of the window size. You then set that div's position to fixed so it's always in the right spot on loading. Give the div a background image of whatever you like*/

/*To scroll with the page, just set the position to absolute instead of fixed*/
#RABBOT {
  background: url("../Projects/RABBOT/RABBOT_L.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#DiveIntoDigital {
  background: url("../Projects/DiveIntoDigital/DiveIntoDigital_1.JPG") no-repeat
    center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#TheHats {
  background: url("../Projects/TheHats/TheHats_L.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#UniverseConcert {
  background: url("../Projects/UniverseConcert/UniverseConcert_L.JPG") no-repeat
    center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#Sleepers {
  background: url("../Projects/Sleepers/Sleepers_L.JPG") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#MoonGaze {
  background: url("../Projects/MoonGaze/MoonGaze_L.JPG") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#LovMeLovU {
  background: url("../Projects/LovMeLovU/LovMeLovU_L.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#PollHuetion {
  background: url("../Projects/PollHUEtion/PollHUEtion_L.JPG") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#Teleportation {
  background: url("../Projects/Teleportation/Teleportation_L.jpg") no-repeat
    center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#EmoLace {
  background: url("../Projects/EmoLace/EmoLace_L.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#Mai {
  background: url("../Projects/Mai/Mai_L.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#MaidenPink {
  background: url("../Projects/MaidenPink/MaidenPink_L.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#CourseIcon {
  background: url("../Projects/CourseIcon/CourseIcon_2.png") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#Leaflets {
  background: url("../Projects/Leaflets/Trifold_Leaflet.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#ScholarshipPromotion {
  background: url("../Projects/ScholarshipPromotion/ScholarshipPromotionPoster_3.jpg")
    no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#Flyer {
  background: url("../Projects/Flyer/Flyer_3.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#FloralWatercolour {
  background: url("../Projects/FloralWatercolour/FloralWatercolour_3.jpg")
    no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#DreamWorld {
  background: url("../Projects/DreamWorld/DreamWorld_L.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}
#CakeLogo {
  background: url("../Projects/CakeLogo/mockup.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

/*The content underneath the div is positioned absolutely and has a large top offset of 100% which hides it below the full image. */
#content {
  background: white;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 100%;
}

img.img_medium {
  display: block;
  width: 50%;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
}
img.img_large {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
img.img_smallgif {
  position: relative;
  float: left;
  width: auto;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10%;
}

ul {
  list-style-type: disc;
  text-align: left;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.footer {
  float: none;
  margin-left: 36%;
  text-align: center;
}
.caption {
  text-align: center;
}

/*------------scrolling animation------------*/
@-webkit-keyframes scroll-inner {
  0% {
    margin-top: 20%;
    opacity: 1;
  }
  90% {
    margin-top: 60%;
    opacity: 0;
  }
  100% {
    margin-top: 20%;
    opacity: 0;
  }
}
@keyframes scroll-inner {
  0% {
    margin-top: 20%;
    opacity: 1;
  }
  90% {
    margin-top: 60%;
    opacity: 0;
  }
  100% {
    margin-top: 20%;
    opacity: 0;
  }
}
.mouse-container {
  position: relative;
  display: block;
  height: 100px;
  top: 80%;
}

.mouse {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 50px;
  border: solid 2px #fff;
  border-radius: 20px;
  opacity: 0.4;
}
.mouse .scroll-down {
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  margin: 15% auto auto auto;
  -webkit-animation: scroll-inner 1.5s;
  animation: scroll-inner 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
/*************Close icon**************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#iconwrapper {
  position: absolute;
  z-index: 999;
  right: 0;
  height: 100%;
  width: 10%;
}
#closeicon {
  position: sticky;
  top: 0px;
}
.outer {
  position: absolute;
  margin: auto;
  width: 70px;
  margin-top: 10px;
  right: 0px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: grey;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before,
.inner:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: grey;
  left: 0;
  transition: all 0.3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}
/***************Responsive video****************/
.video-wrapper {
  position: relative;
  padding-bottom: 74.25%; /* 4:3 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}

.video-wrapper-narrow {
  padding-bottom: 40%;
}

iframe,
object,
embed,
video,
.videoWrapper,
.video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-js,
img.vjs-poster {
  width: 100% !important;
  height: 100% !important; //these need !important because IE
  max-width: 100%;
}

/***********Cutomize Bootstap***************/

#content p,
h1,
h2,
h3 {
  text-align: left;
  margin: auto;
  padding: 3%;
}
#projectnormal {
  padding-top: 10%;
  padding-left: 10%;
}
.col-md-8 {
  padding-top: 5%;
}
.col-md-6 #Rabbot {
  background: black;
  color: lightgrey;
  padding-bottom: 10%;
}
#IntroMain {
  background: black;
  color: lightgrey;
  padding-top: 40%;
  padding-bottom: 10%;
}
.text-center {
  width: 60%;
  margin: auto;
}
#process h4,
h2 {
  margin: auto;
  padding: 3%;
  text-align: center;
}
#process p {
  margin: auto;
  text-align: center;
}

#process {
  padding-top: 5%;
}
#HeadsetTop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#HeadsetTop img.resize {
  width: 100%;
  height: auto;
}
#HeadsetUnder {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#HeadsetUnder img {
  padding-top: 3%;
  width: 58%;
  margin-left: auto;
  margin-right: auto;
}
.container#feedback {
  text-align: left;
}
/*------------Loader------------*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader {
  /* Uncomment this to make it run! */

  /*      animation: loader 5s linear infinite;  */

  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}
#box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

/*------------For mobile phones------------*/
@media only screen and (max-width: 620px) {
  .text-center {
    width: 100%;
    padding-top: 0;
  }
  .container-fluid {
    padding-top: 0;
  }
  #content p,
  h1,
  h2,
  h3 {
    text-align: left;
    margin: auto;
    width: 100%;
    padding: 3%;
  }
}
/*------------For iPad------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .text-center {
    width: 100%;
  }
}
